<div class="card" style="width: 18rem;" id="<%= dom_id team %>">
  <%= view_logo(team) %>
  <div class="card-body position-absolute top-100 start-0">
    <h5 class="card-title"><%= team.name %></h5>
    <%= link_to "Show this team", team, class: "btn btn-primary" %>
  </div>
</div>
