<h1> "Teams, ale nie MS" </h1>
<button type="button" class="btn btn-success"><%= link_to 'Add', new_team_path%></button>

    <ul>
  <% @teams.each do |team| %>
    <li>
      <%= link_to team.name, team %>
    </li>
  <% end %>
</ul>

