<div class="container">
  <%= link_to "Back to teams", teams_path, class: "btn btn-secondary mb-3" %>
  <div class="card mb-3" style="width: 18rem;" id="<%= dom_id @team %>">
    <%= view_logo %>
    <div class="card-body">
      <h5 class="card-title"><%= @team.name %></h5>
    </div>
  </div>
</div>