<div class="card text-center " style="width: 18rem;">
  <%= image_tag "blank-team-logo.png", class: "card-img-top pb-0 mb-0" %>
  <hr class="m-0">
  <div class="card-body">
    <h5 class="card-title"><%= @team.name %></h5>
    <%= link_to "Edit", edit_team_path(@team), class: "btn btn-primary" %>
  </div>
</div>
