<h1>Team Info</h1> 
<h2><%=@team.name%></h2>

<button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_team_path%></button>
<button type="button" class="btn btn-danger"><%= link_to 'Delete', teams_path%></button>