<%= link_to "Back to Admin Panel", admin_root_path, class: "btn btn-secondary mb-3" %>
<h3>
  Rounds
  <small class="text-muted"><%= link_to "New round", new_admin_round_path, class: "btn btn-primary" %></small>
</h3>

<div id="rounds" class="d-flex flex-row bd-highlight mb-3 gap-3">
  <% @rounds.each do |round| %>
    <%= render round %>
  <% end %>
</div>