<div class="card" style="width: 18rem;" id="<%= dom_id round %>">
  <div class="card-body">
    <h5 class="card-title text-center"><%= "#{round.number}/#{round.year}" %></h5>
    <%= link_to "Show this round", round, class: "btn btn-primary" %>
  </div>
</div>
