<div class="card mt-3" style="width: 18rem;" id="<%= dom_id round %>">
  <div class="card-header text-center">
    <strong>
      <p class="m-3"><%= round.year %> / <%= round.number %></p>
    </strong>
    <hr>
    <div>
      <%= link_to "Show this round", round, class: "btn btn-primary" %>
    </div>
  </div>
</div>
