<h3>
  Rounds
  <% if current_user.is_admin?%>
    <small class="text-muted"><%= link_to "New round", new_round_path, class: "btn btn-primary" %></small>
  <% end %>
</h3>

<div id="rounds" class="d-flex flex-row bd-highlight mb-3 gap-3">
  <% @rounds.each do |round| %>
    <%= render round %>
  <% end %>
</div>
