<h3>
  Rounds
  <small class="text-muted">
    <%if current_user.admin? %>
    <%= link_to "New round", new_round_path, class: "btn btn-primary" %>
    <% end %>
  </small>
</h3>

<div id="rounds" class="d-flex flex-row flex-wrap bd-highlight mb-3 gap-3">

  <% @rounds.each do |round| %>
    <%= render round %>
  <% end %>
</div>
