<div class="container">
  <div class="d-flex gap-3 mb-3" >
    <%= link_to "Show this user", @user, class: "btn btn-secondary" %>
  </div>
  <h1>Editing user</h1>

  <%= render "form", user: @user %>
</div>

