<div class="d-flex gap-3 mb-3" >
    <%= link_to "Back to rounds", rounds_path, class: "btn btn-secondary" %>
  </div>
  <h1>Editing match</h1>

  <%= render "form", round: @round, match: @match %>