<h1>New Match</h1>
<div class="d-flex gap-3 mb-3" >
  <%= link_to "Back to round", @round, class: "btn btn-secondary" %>
</div>

<%= form_with(model: [@round, @match]) do |form| %>
  <%= render "form", match: @match, form: form %>

  <div class="form-group mt-3">
    <%= form.submit class:'btn btn-success'%>
  </div>
<% end %>
