<div class="card mt-5">
  <div class="card-header">
    <div class="card-title text-center h2">
      <%= post.title %>
    </div>
  </div>
  <div class="card-body h6">
    <%= post.content %>
  </div>
  <div class="card-footer d-flex justify-content-between mt-4">
    <div class="mt-3"><%= time_tag post.created_at %></div>
    <div class="mt-3"><p>Created by: <%= link_to post.user.email, user_path(post.user.id) %></p></div>
  </div>
</div>
