<div class="container">
  <div class="d-flex gap-3 mb-3" >
    <%= link_to "Back to teams", admin_teams_path, class: "btn btn-secondary" %>
    <%= link_to "Show this team", admin_team_path(@team), class: "btn btn-secondary" %>
  </div>
  <h1>Editing team</h1>

  <%= render "form", team: @team %>
</div>

